.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    background-color: transparent!important;
    box-shadow: none!important;
    color: black!important;
}
.css-k008qs{
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.AnxpPtWO8arLPw1upWSEywHaE8&pid=Api&P=0&w=283&h=188");
    background-size: 100vw 55vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
}